.d-flex {
  display: flex!important;
  height: 100vh;
}
  
.center {
  margin: 0 auto;
  align-self: center;
}

.navbar{
  margin-bottom: 0 !important;
  border: 0 !important;
}

.App {
  background-image: "https://d1lzrgdbvkolkd.cloudfront.net/1512_B_752043a468.jpg";
}
  
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
  
.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
  
.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}
  
.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
  
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.styled-table {
  border-collapse: collapse;
  margin-left: 10%;
  width: 80%;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th, .styled-table td {
  border: 1px solid black;
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}